@use "variables";

@mixin flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin flex-top{
    display: flex;
    justify-content: center;
    align-items: start;
}

@mixin flex-left{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

@mixin for-tablet-portrait-up{
    @media only screen and (min-width: variables.$size-min-tablet-portrait){
        @content;
    }
}

@mixin for-tablet-landscape-up{
    @media only screen and (min-width: variables.$size-min-tablet-landscape){
        @content;
    }
}

@mixin for-desktop-up{
    @media only screen and (min-width: variables.$size-min-desktop){
        @content;
    }
}

@mixin for-big-desktop-up{
    @media only screen and (min-width: variables.$size-min-big-desktop){
        @content;
    }
}