@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

$color-black-01: #282828;
$color-black-02: #0f0f0f;
$color-white-01: #fff;
$color-white-02: #f8f8f8;
$color-white-03: #ededed;
$color-gray-01: #dedede;
$color-gray-02: #d1d1d1;
$color-gray-03: #666666;
$color-gray-04: #bdbdbd;
$color-blue-01: #def1ff;
$color-blue-02: #c7d4dd;
$color-blue-03: #065fd4; 
$color-red-01: #ff0000;

$font-roboto: 'Roboto', sans-serif;

$size-min-any-device: 400px;
$size-min-tablet-portrait: 600px;
$size-min-tablet-landscape: 900px;
$size-min-desktop: 1200px;
$size-min-big-desktop: 1800px;