@use "variables";
@use "mixins";

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
  
body {
  background-color: variables.$color-white-01;
  color: variables.$color-black-02;  
  font-family: variables.$font-roboto;
  
  .navbar{
    background-color: inherit;
    width: 100%;
    height: 60px;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;

    &-toggle{
      @include mixins.flex-center;
      position: relative;

      @include mixins.for-tablet-portrait-up{
        width: 140px;
        justify-content: space-between;
      }

      ion-icon{
        font-size: 2rem;
        padding: 5px;
        display: none;

        @include mixins.for-tablet-portrait-up{
          display: initial;
        }

        &:hover{
          cursor: pointer;
          background-color: variables.$color-gray-01;
          border-radius: 50%;
        }
      }

      img{
        height: 20px;

        &:hover{
          cursor: pointer;
        }
      }

      &::after{
        content: 'BR';
        font-size: .8rem;
        color: variables.$color-gray-03;
        position: absolute;    
        top: 0;
        right: -18px;
        display: none;

        @include mixins.for-tablet-portrait-up{
          display: initial;
        }
      }
    
    }
  }
}