@use "variables";
@use "mixins";

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
  
body {
  background-color: variables.$color-white-01;
  color: variables.$color-black-02;  
  font-family: variables.$font-roboto;
  
  .navbar{
    background-color: inherit;
    width: 100%;
    height: 60px;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;

    &-toggle{
      @include mixins.flex-center;
      position: relative;

      @include mixins.for-tablet-portrait-up{
        width: 140px;
        justify-content: space-between;
      }

      ion-icon{
        font-size: 2rem;
        padding: 5px;
        display: none;

        @include mixins.for-tablet-portrait-up{
          display: initial;
        }

        &:hover{
          cursor: pointer;
          background-color: variables.$color-gray-01;
          border-radius: 50%;
        }
      }

      img{
        height: 20px;

        &:hover{
          cursor: pointer;
        }
      }

      &::after{
        content: 'BR';
        font-size: .8rem;
        color: variables.$color-gray-03;
        position: absolute;    
        top: 0;
        right: -18px;
        display: none;

        @include mixins.for-tablet-portrait-up{
          display: initial;
        }
      }    
    }

    &-user{
      @include mixins.flex-center;

      button{
        background-color: inherit;
        color: variables.$color-blue-03;
        @include mixins.flex-center;
        border: 0;

        @include mixins.for-tablet-portrait-up{
          border: 1px solid variables.$color-gray-01;
          border-radius: 50px;
          padding: 5px 10px;
          gap: 5px;
          font-size: 1rem;
          font-weight: 500;
        }

        &:hover{
          cursor: pointer;

          @include mixins.for-tablet-portrait-up{
            background-color: variables.$color-blue-01;
            border-color: variables.$color-blue-01;
          }
        }

        &:active{
          @include mixins.for-tablet-portrait-up{
            background-color: variables.$color-blue-02;
            border-color: variables.$color-blue-02;
          }
        }

        ion-icon{
          font-size: 2.2rem;

          @include mixins.for-tablet-portrait-up{
            font-size: 1.8rem;
          }
        }

        span{
          display: none;

          @include mixins.for-tablet-portrait-up{
            display: initial;
          }
        }
      }


    }




  }
}